# .NET
bin/
obj/
*.user

# Node / React
node_modules/
dist/
build/

# Bun
.bun/
*.bun
# bun.lockb

# Env / secrets
.env
appsettings.Development.json

# IDE
.vs/
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
# Mock data: IDs created by mock/seed.mjs
mock/.seeded-ids.json
